.advantages__list {
  .list-style-none;
}

.advantages__item {
  margin-top: 30px;
}

.advantages__text {
  margin-top: 13px;
  margin-bottom: 0;
  line-height: 20px;
}

.advantages__icon--flower {
  margin-left: 8px;
}

.advantages__icon--heart {
  margin-left: 7px;
}

.advantages__icon--knot {
  margin-left: 7px;
}

.advantages__icon--rocket {
  margin-left: -3px;
}

.advantages__icon--gift {
  margin-left: 7px;
}
