.button {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 15px 15px 17px 15px;

  font-size: 17px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: @gray-4;
  line-height: 16px;
  letter-spacing: 0.5px;

  background-color: #ffffff;

  border: 2px solid @gray-4;
  cursor: pointer;

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: @gray-4;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: @gray-4;
  }

  &--green {
    padding-top: 17px;
    padding-bottom: 17px;
    color: #ffffff;
    background-color: @green-1;
    border: none;

    &:hover,
    &:focus,
    &:active {
      background-color: @green-2;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  &:disabled {
    color: @gray-3;
    background-color: @gray-6;
    cursor: default;
  }
}

@media (min-width: @tablet-width) {
  .button {
    &--medium {
      width: auto;
      min-width: 230px;
      padding-right: 28px;
      padding-left: 28px;
    }
  }
}
