.categories__link {
  .transition();

  position: relative;
  top: 0;

  display: flex;
  align-items: center;
  padding: 27px 100px 32px 29px;

  color: #ffffff;
  font-size: 19px;
  font-weight: 700;
  line-height: 22px;

  background-color: @green-1;

  &::after {
    .transition();

    position: absolute;
    top: 50%;

    background-position: 50% 50%;
    background-repeat: no-repeat;

    transform: translateY(-50%);
    opacity: 0.7;
    content: "";
  }

  &--dark {
    background-color: @green-2;
  }

  &--interior {
    &::after {
      width: 40px;
      height: 62px;
      right: 35px;
      background-image: url("../img/icon-interior.svg");
    }
  }

  &--toys {
    &::after {
      width: 60px;
      height: 60px;
      right: 27px;
      background: url("../img/icon-toy.svg");
    }
  }

  &:hover,
  &:focus {
    &::after {
      opacity: 0.9;
    }
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);

    &::after {
      opacity: 0.3;
    }
  }
}

@media (min-width: @tablet-width) {
  .categories {
    display: flex;
  }

  .categories__link {
    flex-basis: 50%;
    padding-left: 36px;
    padding-bottom: 37px;
    font-size: 20px;
    line-height: 30px;

    &--toys {
      &::after {
        right: 34px;
      }
    }

    &:hover,
    &:focus {
      top: -5px;
    }
  }
}
