.form__legend {
  display: flex;
  align-items: center;
  margin-bottom: 21px;

  color: @green-1;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;

  &--nomargin {
    margin-bottom: 0;
  }

  &--name {
    margin-bottom: 24px;
  }
}

.form__line {
  flex-basis: 0;
  flex-grow: 1;
  height: 1px;
  margin-left: 20px;
  background-color: @green-1;
}

.form__choose {
  display: block;
  margin-top: 18px;

  &:first-of-type {
    margin-top: 0;
  }
}

.form__label {
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
}

.form__handle {
  position: relative;

  display: block;
  min-height: 40px;
  padding-left: 60px;
  padding-top: 8px;

  &::before,
  &::after {
    position: absolute;
    content: "";
  }

  &::before {
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border: 2px solid @black;
  }

  &::after {
    opacity: 0;
  }

  &--radio {
    &::before,
    &::after {
      border-radius: 50%;
    }

    &::after {
      top: 12px;
      left: 12px;
      width: 16px;
      height: 16px;
      background-color: @green-1;
    }
  }

  &--checkbox {
    &::after {
      top: 12px;
      left: 9px;

      width: 22px;
      height: 16px;

      background: url("../img/icon-tick.svg") 50% 50%;
      background-size: 22px 16px;
    }
  }

  &:hover,
  &:focus {
    &::before {
      border-color: @green-1;
    }
  }

  &:active {
    &::before {
      border-color: fade(@black, 30%);
    }
  }
}

.form__hidden:checked + .form__handle {
  &::after {
    opacity: 1;
  }
}

.form__group-wrapper {
  margin-top: 26px;

  &:first-of-type {
    margin-top: 0;
  }
}

.form__group {
  &--margin-top {
    margin-top: 27px;
  }
}

.form__textgroup {
  position: relative;
  display: flex;
  flex-direction: column;

  &:first-child {
    margin-top: 0;
  }
}

.form__textarea-group,
.form__textgroup {
  margin-top: 22px;
}

.form__icon {
  position: absolute;
  right: 3px;
  top: 50%;

  transform: translateY(-50%);
  opacity: 0.2;
  pointer-events: none;

  &--phone {
    right: 7px;
  }
}

.form__input {
  padding-right: 40px;
}

.form__input:hover + .form__icon,
.form__input:focus + .form__icon,
.form__input:active + .form__icon {
  opacity: 1;
}

.form__input:hover + .form__icon,
.form__input:focus + .form__icon {
  fill: @green-1;
}

.form__textarea {
  height: 142px;
}

.form__notice {
  margin-top: 15px;
  margin-bottom: 0;
  color: @gray-4;
  font-size: 14px;
  line-height: 16px;
}

.form__button {
  margin-top: 32px;
}

.form__sizes {
  display: flex;
  justify-content: space-between;
  margin-right: -3.5px;
  margin-left: -3.5px;
}

.form__size-wrapper {
  flex-basis: 33.33%;
  padding: 0 3.5px;
}

.form__size {
  display: block;
  padding: 16px;

  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 700;

  border: 2px solid fade(@gray-4, 10%);

  cursor: pointer;

  &:hover,
  &:focus {
    border-color: fade(@gray-4, 40%);
  }
}

.form__hidden:checked + .form__size{
  border-color: @green-1;
}

.form__column {
  &--checkboxes {
    .form__choose {
      margin-top: 21px;

      &:first-child {
        margin-top: 0;
      }
    }
  }
}

@media (min-width: @tablet-width) {
  .form__group-wrapper {
    margin-top: 0;

    &--dark {
      background-color: @gray-1;
    }
  }

  .form__group {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 50px;

    &--margin-top {
      margin-top: 24px;
    }

    &--nopadding-bottom {
      padding-bottom: 0;
    }

    &--nopadding-top {
      padding-top: 0;
    }
  }

  .form__column {
    flex-basis: 75%;
    align-items: flex-start;

    &--first {
      flex-basis: 25%;
    }

    &--flex {
      display: flex;
      flex-wrap: wrap;
      align-content: space-between;
      margin-top: -24px;

      .form__choose {
        flex-basis: 50%;
        margin-top: 24px;

        &--right {
          flex-basis: auto;
          margin-left: 10px;
        }
      }
    }

    &--checkboxes {
      .form__choose {
        &:first-child {
          margin-top: 24px;
        }
      }
    }
  }

  .form__legend {
    margin-bottom: 0;
    padding-top: 13px;
  }

  .form__line {
    display: none;
  }

  .form__handle {
    min-height: 52px;
    padding-left: 80px;
    padding-top: 16px;

    &::before {
      width: 54px;
      height: 52px;
    }

    &--radio {
      &::before {
        width: 52px;
      }

      &::after {
        top: 15px;
        left: 15px;
        width: 22px;
        height: 22px;
      }
    }

    &--checkbox {
      &::after {
        top: 16px;
        left: 10px;
        width: 34px;
        height: 23px;
        background-size: 34px 23px;
      }
    }
  }

  .form__choose {
    margin-top: 25px;
  }

  .form__label {
    font-size: 19px;

    &--margin-right {
      margin-right: 25px;
    }
  }

  .form__textgroup {
    flex-direction: row;
    align-items: center;
    margin-top: 23px;
  }

  .form__textarea-group {
    margin-top: 0;
  }

  .form__control {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 3px;
  }

  .form__notice {
    order: 1;
    margin-top: 0;
    font-size: 17px;
    line-height: 30px;
  }

  .form__button {
    margin: 0;
  }

  .form__icon {
    right: 22px;

    &--phone {
      right: 25px;
    }
  }
}

@media (min-width: @desktop-width) {
  .form__column {
    flex-basis: 0;
    flex-grow: 1;

    &--first {
      flex-basis: @desktop-block-padding - 60; /* Из-за IE */
      flex-grow: 0;
      margin-left: 60px;
    }

    &--flex {
      .form__choose {
        flex-basis: 263px;

        &--right {
          margin-left: 0;
        }
      }
    }

    &--padding-right {
      padding-right: @desktop-block-padding;
    }
  }

  .form__control {
    padding-right: @desktop-block-padding + 50;
    padding-left: @desktop-block-padding + 50;
  }

  .form__label {
    &--margin-right {
      margin-right: 27px;
    }
  }

  .form__group {
    &--last {
      padding-bottom: 46px;
    }
  }

  .form__textgroup {
    margin-top: 24px;
  }

  .form__icon {
    right: 4px;
    &--phone {
      right: 8px;
    }
  }
}
