.inner-page__title {
  padding: 70px 0;
  background-color: @gray-1;
}

.inner-page__production {
  padding-top: 0;
}

.inner-page__form-wrapper {
  padding-bottom: 55px;
}

.inner-page__form {
  margin-top: 30px;
}
