.main-nav__wrapper {
  height: auto;
  overflow: hidden;
}

.main-nav {
  position: relative;
  padding-top: 79px;

  &--closed {
    .main-nav__wrapper {
      height: 0;
    }

    .main-nav__list {
      opacity: 0;
      transform: translateY(-200%);
    }

    .main-nav__burger {
      background: linear-gradient(to bottom, #ffffff, #ffffff 45%, #000000 45%, #000000 55%, #ffffff 55%);

      &::before,
      &::after {
        left: 0;
        width: 100%;
        transform: rotate(0deg);
      }

      &::before {
        margin-top: -7px;
      }

      &::after {
        margin-top: 5px;
      }
    }
  }
}

.main-nav__control {
  position: absolute;
  top: 29px;
  right: 30px;

  width: 20px;
  height: 20px;
  padding: 0;

  background: none;
  border: none;

  cursor: pointer;
}

.main-nav__burger {
  display: block;
  position: relative;
  height: 100%;

  &::before,
  &::after {
    .transition();

    position: absolute;
    left: -4px;
    top: 50%;

    width: 28px;

    height: 2px;
    background-color: @black;

    content: "";
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav__list {
  .list-style-none;
  .transition();
  opacity: 1;
  transform: translateY(0);

  &--add {
    display: none;
  }
}

.main-nav__link {
  display: block;
  padding-top: 25px;
  padding-bottom: 29px;
  padding-left: 75px;

  font-size: 17px;
  font-weight: bold;
  color: @black;

  border-top: 1px solid @gray-2;

  &[href]:hover,
  &[href]:focus {
    color: fade(@black, 60%);
  }

  &[href]:active {
    color: fade(@black, 30%);
  }

  &--icon {
    position: relative;
    height: 100%;

    &:hover,
    &:focus {
      svg {
        fill: @green-1;
      }
    }

    &:active {
      svg {
        fill: fade(@green-1, 70%);
      }
    }

    svg {
      .transition(svg);

      position: absolute;
      top: 50%;
      left: 30px;

      fill: fade(@black, 20%);

      transform: translateY(-50%);
    }
  }

  &--light {
    font-weight: 400;
  }
}

@media (min-width: @tablet-width) {
  .main-nav {
    padding-top: 0;

    &--closed {
      .main-nav__wrapper {
        height: auto;
      }

      .main-nav__list {
        opacity: 1;
        transform: translateY(0);
        transition: none;
      }
    }
  }

  .main-nav__control {
    display: none;
  }

  .main-nav__wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow: visible;
  }

  .main-nav__list {
    display: flex;
    flex-basis: 100%;
    padding: 0 50px;

    &--lightgray {
      background-color: @gray-5;
    }

    &--darkgray {
      background-color: @gray-1;
    }

    &--pages {
      order: 1;

      .main-nav__link {
        margin-right: 35px;
      }
    }

    &--ext {
      justify-content: flex-end;
      border-bottom: 1px solid @gray-1;

      .main-nav__link {
        border-left: 1px solid @gray-1;
      }
    }

    &--add {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 1;
    }

    &--add,
    &--pages {
      .main-nav__link {
        padding-top: 17px;
        padding-bottom: 20px;
        font-size: 15px;
        line-height: 24px;
      }
    }
  }

  .main-nav__item {
    &--desk-only {
      display: none;
    }
  }

  .main-nav__link {
    border: none;
    padding-top: 30px;
    padding-bottom: 34px;
    padding-left: 0;

    &--icon {
      padding-left: 82px;

      svg {
        left: 32px;
      }
    }
  }

  .main-nav__hidden {
    .visually-hidden;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    border-bottom: 1px solid @gray-1;
  }

  .main-nav__wrapper {
    max-width: @desktop-width;
    margin: 0 auto;
    padding: 0 50px;
  }

  .main-nav__link {
    &--icon {
      padding-left: 84px;
    }
  }

  .main-nav__list {
    flex-basis: 50%;
    padding: 0;

    &--pages {
      order: 0;
      background-color: #ffffff;

      .main-nav__item {
        padding: 0 35px;
        border-right: 1px solid @gray-1;

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          border: none;
        }
      }

      .main-nav__link {
        margin: 0;
        padding-top: 30px;
        padding-bottom: 34px;

        font-size: 17px;
        line-height: 24px;
      }
    }

    &--ext {
      border-bottom: none;
    }

    &--add {
      bottom: -62px;
      width: 100%;
      padding: 0 50px;
    }
  }

  .main-nav__item {
    &--desk-only {
      display: block;
    }

    &--right {
      margin-left: auto;
    }

    &--left {
      margin-right: 63px;
    }
  }
}
