.main-page__welcome {
  padding-top: 70px;
  background: #f9f9f9 url("../img/hero-mobile@1x.jpg") 50% -20px no-repeat;
}

.main-page__title {
  width: 260px;
  margin-right: auto;
  margin-left: auto;
  line-height: 30px;
}

.main-page__categories {
  margin-top: 127px;
}

.main-page__reviews {
  padding-bottom: 45px;
}

.main-page__contacts {
  padding-top: 38px;
}
