.main-page__welcome {
  padding-top: 70px;
  background: @gray-5 url("../img/hero-mobile@1x.jpg") 50% -20px no-repeat;
}

.main-page__title {
  width: 100%;
  padding: 0 30px;
  line-height: 30px;
}

.main-page__categories {
  margin-top: 127px;
}

.main-page__reviews {
  margin-bottom: 45px;
}

.main-page__contacts {
  margin-top: 38px;
  margin-bottom: 0;
}

@media (min-width: @tablet-width) {
  .main-page__welcome {
    padding-top: 100px;
    background-size: auto 100%;
    background-position: 50% 0;
  }

  .main-page__title {
    min-height: 400px;
    line-height: 57px;
  }

  .main-page__categories {
    margin-top: 75px;
  }
}

@media (min-width: @desktop-width) {
  .main-page__welcome {
    padding-top: 164px;

    &::after {
      bottom: -19px;
      height: 34px;
    }
  }
}
