.main-nav {
  position: relative;
  padding-top: 79px;
}

.main-nav__wrapper {
  border-bottom: 1px solid @gray-2;
}

.main-nav__list {
  .list-style-none;
  background-color: #ffffff;
}

.main-nav__link {
  display: block;
  padding-top: 31px;
  padding-bottom: 34px;
  padding-left: 76px;

  font-size: @big;
  font-weight: bold;
  color: @black;

  border-top: 1px solid @gray-2;

  &[href]:hover,
  &[href]:focus {
    color: fade(@black, 40%);
  }

  &[href]:active {
    color: fade(@black, 70%);
  }

  &--icon {
    position: relative;

    &:hover,
    &:focus {
      svg {
        fill: @green-1;
      }
    }

    &:active {
      svg {
        fill: fade(@green-1, 70%);
      }
    }

    svg {
      position: absolute;
      top: 50%;
      left: 30px;
      transform: translateY(-50%);
      fill: @black;
    }
  }
}

.main-nav__control {
  position: absolute;
  top: 29px;
  right: 30px;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}
