.page-footer {
  padding: 30px 30px 23px 30px;
  background-color: @gray-1;
}

.page-footer__copyright {
  margin-top: 23px;
  font-weight: 700;
  font-size: 19px;
}

.page-footer__developer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: @black;

    &:hover,
    &:focus,
    &:active {
      svg {
        fill: @green-2;
      }
    }
    &:active {
      opacity: 0.3;
    }

  svg {
    margin-left: 30px;
    fill: @green-1;
  }
}
