.social {
  .list-style-none;
  display: flex;
  justify-content: center;
  align-items: center;

  padding-bottom: 20px;

  border-bottom: 2px solid @gray-2;
}

.social__item {
  margin: 0 20px;
}

.social__link {
  &:hover,
  &:focus,
  &:active {
    svg {
      fill: @green-1;
    }
  }

  &:active {
    opacity: 0.3;
  }

  svg {
    .transition(svg);
    fill: @black;
  }
}

@media (min-width: @tablet-width) {
  .social {
    padding-bottom: 0;
    border: none;
  }
}
