.title {
  font-weight: bold;
}

.title--large {
  font-size: 27px;
}

.title--big {
  font-size: 25px;
}

.title--medium {
  font-size: 18px;
}

.title--small {
  font-size: 17px;
}

.title--center {
  text-align: center;
}

.title--nomargin {
  margin: 0;
}
