.week-product__subtitle {
  margin-top: 8px;
  margin-bottom: 0;

  color: @green-1;
  font-size: @big;
  font-weight: 700;
  text-transform: uppercase;
}

.week-product__description,
.week-product__meta {
  font-size: @medium;
  line-height: 24px;
}

.week-product__description {
  margin-top: 30px;
}

.week-product__meta {
  width: 100%;
  border-collapse: collapse;

    td {
      padding: 14px 0;
      border-bottom: 1px solid @gray-2;
    }
}

.week-product__option {
  width: 98px;
}

.week-product__thumb {
  display: block;
  margin: 28px auto 0 auto;
}

.week-product__price {
  margin-top: 29px;
  margin-bottom: 0;

  color: @gray-4;
  font-size: @big;
  font-weight: 700;
  text-align: center;
}

.week-product__button {
  margin-top: 30px;
}
