@media (min-width: @tablet-width) {
  .zigzag-border {
    position: relative;

    &::after {
      position: absolute;
      bottom: -6px;
      left: 0;

      width: 100%;
      height: 23px;

      background: url("../img/bg-zigzag-fill.svg") 50% 0 repeat-x;
      background-size: auto 99%;

      pointer-events: none;
      content: "";
    }
  }
}

@media (min-width: @desktop-width) {
  .zigzag-border {
    &::after {
      background-size: auto 100%;
    }

    &--home {
      &::after {
        bottom: -14px;
        height: 37px;
      }
    }

    &--inner {
      &::after {
        bottom: -18px;
        height: 34px;
      }
    }
  }
}
