.zigzag {
  margin: 0 auto;
  height: 6px;
  max-width: 1050px;

  background: url("../img/bg-zigzag-line.svg") 50% 50% repeat-x;
  background-size: auto 6px;

  &--in-wrapper {
    margin: 0 -30px;
  }
}

@media (min-width: @tablet-width) {
  .zigzag {
    height: 17px;
    background-size: 100% 17px;

    &--in-wrapper {
      margin: 0 -50px;
    }
  }
}

@media (min-width: @desktop-width) {
  .zigzag {
    height: 23px;
    background-size: 100% 23px;

    &--in-wrapper {
      margin: 0;
    }
  }
}
