/* Colors */

@green-1: #63d1bb;
@green-2: #56c3b2;
@green-3: #35a999;
@gray-1: #f1f1f1;
@gray-2: #ececec;
@gray-3: #e5e5e5;
@gray-4: #444444;
@black: #000000;

/* Fonts */

@regular: 13px;
@medium: 15px;
@big: 17px;
@large: 20px;
@title-medium: 18px;
@title-big: 25px;
@title-large: 27px;
